# A * ensures that everything will be ignored.
*
# But descend into directories
#!*/

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!*.png
!*.jpg

!www/
!www/images/
!www/images/radio/
!themes/
#!ozw_config/**

# Ignore folders.
.storage
.cloud
.google.token
.automatic

# Dumb files
*._*

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
